<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

      .main-content {
        background-color: black;
        color: white;
        text-align: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        justify-content: center;
        padding: 5rem;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        border-radius: 0.5rem;
      }
      .button-style {
        background-color: white;
        font-family: 'Nunito', sans-serif;
        color: rgba(19, 18, 18, 0.856);
        padding: 2rem;
        border-radius: 0.5rem;
      }
    </style>
  </head>
  <body>
    <div class="main-content">
      <div>
        <h1>Done by</h1>
        <h1></h1>
        <h1></h1>
      </div>
      <div class="button-style">
        <a style="color: inherit; text-decoration: none" href="/ftp"
          >access ftp server</a
        >
      </div>

      <br />
      <div class="button-style">
        <a style="color: inherit; text-decoration: none" href="/upload"
          >access upload page</a
        >
      </div>
    </div>
  </body>
</html>
